* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    width: 100%;
}

.mobile-view {
    width: 100%;
    padding: 0.5rem 0.8rem;
}

.nav-container {
    width: 100%;
    display: flex;
    padding: 0 0.4rem;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 6rem;
}

.logo img {
    width: 100%;
    height: auto;
}

.right-side-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.right-side-icons i {
    font-size: 1.2rem;
}

/* Mobile: show menu, hide button */
.right-side-icons .ri-menu-line {
    display: block;
}

.right-side-icons .btn-3 {
    padding: 0.6rem 0.8rem;
    border-radius: 0.3rem;
    border: none;
    background-color: #611F69;
    color: white;
}

.left-links {
    display: none;
}

.btn-1,
.btn-2 {
    all: unset;
    display: none;
}



.section-1 {
    display: flex;
    flex-direction: column;
    padding: 4rem 0rem;
    width: 100%;
    /* background-color: red; */

}


.section1-heading {
    width: 100%;
    text-align: center;
}

.section1-heading h1 {
    /* text-align: center; */
    font-size: 2.2rem;
    font-weight: 600;
}


.section1-heading .brain img {
    width: 2rem;
}

.section-1-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.section1-paragraph {
    /* background-color: red; */
    width: 80%;
}

.section1-paragraph p {
    line-height: 2rem;
    font-size: 1.1rem;
    letter-spacing: .1rem;
    text-align: center;
}

.section-button {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* background-color: red; */
}

/* .section-button {
} */

.section-button .btn-3 {
    padding: 1.1rem 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 0.3rem;
    border: none;
    background-color: #611F69;
    color: white;
}

/* .left-links {
        display: none;
    } */

.section-button .btn-2 {
    display: block;
    text-align: center;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    color: #611F69;
    border: 1px solid #611F69;
    border-radius: .3rem;
}

.btn-2 br {
    display: block;
}

.company-logo {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.company-logo-container-1 {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}

.company-logo-container-1 img {
    width: 13%;
    object-fit: contain;
}

#logo-gm-small {
    width: 8%;
}

#logo-target-small {
    width: 9%;
}

.company-logo-container-2 {
    display: flex;
    gap: 2rem;
    justify-content: center;

}

.company-logo-container-2 img {
    width: 15%;
    object-fit: contain;
}

/* Tablet view */
@media (min-width: 541px) {
    .mobile-view {
        padding: .8rem 1rem;
    }

    .logo {
        width: 6.5rem;
    }

    .right-side-icons button {
        font-size: 1rem;
        /* padding: 1rem 1.5rem; */
        display: block;
    }

    .right-side-icons .btn-3 {
        padding: .6rem 1rem;
        font-size: .8rem;
    }

    .right-side-icons .btn-2 {
        display: none;
    }

    .left {
        display: flex;
        gap: 1.5rem;
        align-items: center;
    }



    .right-side-icons .ri-menu-line {
        display: block;
    }

    .right-side-icons .btn-1 {
        display: none;
    }

    .section-button {
        width: 50%;

    }

    .section-button .btn-2,
    .section-button .btn-2 {
        display: block;
        text-align: center;
        padding: 1rem 1rem;
        font-size: 1.2rem;
    }

    .company-logo {
        flex-direction: row;
        padding-left: 2.5rem;
    }

    /*   ... */
    .company-logo-container-1 img {
        width: 23%;
        object-fit: contain;
    }

    #logo-gm-small {
        width: 10%;
    }

    #logo-target-small {
        width: 11%;
    }

    .company-logo-container-2 {
        display: flex;
        gap: 2rem;
        justify-content: center;

    }

    .company-logo-container-2 img {
        width: 25%;


    }
}

@media (min-width: 1215px) {

    .mobile-view {
        padding: 1rem 2.8rem;
    }

    .logo {
        width: 6rem;
    }

    .right-side-icons .ri-menu-line {
        display: none;
        /* hide hamburger on desktop */
    }

    .left-links {
        display: flex;
        gap: 1rem;
    }

    .left-links a {
        text-decoration: none;
        color: black;

    }

    /* .left-links a {
        text-decoration: none;
        color: black;

    } */

    .btn-1 {
        background-color: transparent;
    }

    .right-side-icons .btn-1,
    .right-side-icons .btn-2 {
        display: block;
    }

    .btn-2 {
        padding: .5rem 1rem;
        color: #611F69;
        border: 1px solid #611F69;
        border-radius: .3rem;
    }

    .right-side-icons .btn-3 {
        padding: 0.8rem 1rem;
    }

    .section-1 {
        padding: 2rem 0rem;


    }

    .section1-paragraph p {
        letter-spacing: normal;
    }

    .section1-heading {
        display: flex;
        justify-content: center;
    }

    .section1-heading h1 {
        width: 50%;
        font-size: 4rem;
    }

    .section1-heading .brain img{
        width: 8%;
    }

    .section-button {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .section-button {
        width: 70%;
    }

    .section-button .btn-3 {
        padding: 1.1rem 0.8rem;
        font-size: 1rem;
        text-transform: uppercase;
        border-radius: 0.3rem;
        border: none;
        background-color: #611F69;
        color: white;
    }

    /* .left-links {
        display: none;
    } */
    .section-button {
        width: 100%;
        justify-content: center;

    }

    .section-button .btn-2 {
        display: block;
        text-align: center;
        padding: .8rem 1rem;
        font-size: 1.2rem;
        color: #611F69;
        border: 1px solid #611F69;
        border-radius: .3rem;
    }

    .btn-2 br {
        display: none;
    }

    /* ..... */
.company-logo{
padding-right: 8rem;
    /* background-color: red; */
    gap: 3rem;
}
    .company-logo-container-1 {
        justify-content: right;
    }
    .company-logo-container-2 {
        display: flex;
        justify-content: start;
    }
    .company-logo-container-1 img {
        width: 5%;
        object-fit: contain;
    }

    #logo-gm-small {
        width: 5%;
    }

    #logo-target-small {
        width: 5%;
    }


    .company-logo-container-2 img {
        width:8%;


    }
}